# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                       @MetaMask/accounts-engineers

/packages/keyring-eth-hd                @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/keyring-eth-ledger-bridge     @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/keyring-eth-simple            @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/keyring-eth-trezor            @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/keyring-utils                 @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
