name: Validate PR Title

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        # !!! ATTENTION !!!
        #
        # This is the hash of version 5.4.0, which is allow listed in the
        # `MetaMask` organization. Other versions need to be allow listed
        # by administrators before they can be used.
        uses: amannn/action-semantic-pull-request@e9fabac35e210fea40ca5b14c0da95a099eff26f
        with:
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            release
            revert
            style
            test
          scopes: |
            deps
            deps-dev
            keyring-api
            keyring-eth-hd
            keyring-eth-ledger-bridge
            keyring-eth-simple
            keyring-eth-trezor
            keyring-internal-api
            keyring-internal-snap-client
            keyring-snap-bridge
            keyring-snap-client
            keyring-snap-sdk
            keyring-utils
            account-api
            account-api/mocks
          subjectPattern: '^(?![A-Z]).+$'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
